Repository Danrozen87/reacttemplate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainers, @ui-team, @i18n-team, @devops-team, @docs-team, @qa-team

Update components.json
  components.json
Owners: @maintainers

Create branch-protection.json
  .github/rulesets/branch-protection.json
Owners: @devops-team

Create tag-protection.json
  .github/rulesets/tag-protection.json
Owners: @devops-team

Create REMINDER-AI-LOVABLE-WORK-ETHIC.md
  public/REMINDER-AI-LOVABLE-WORK-ETHIC.md
Owners: @maintainers

Update README.md
  README.md
Owners: @docs-team

Update package.json
  package.json
Owners: @maintainers

Update package.json
  package.json
Owners: @maintainers

Delete src/components/atoms/grid directory
  src/components/atoms/grid/README.md
  src/components/atoms/grid/__tests__/responsive-grid.test.tsx
  src/components/atoms/grid/responsive-grid.tsx
  src/components/atoms/grid/types.ts
  src/components/atoms/grid/utils.ts
Owners: @docs-team, @qa-team, @ui-team

Delete src/components/atoms/brand-logo.tsx
  src/components/atoms/brand-logo.tsx
Owners: @ui-team

Delete src/components/molecules/auth-form-email directory
  src/components/molecules/auth-form-email/README.md
Owners: @docs-team

Delete src/components/molecules/auth-form-fields directory
  src/components/molecules/auth-form-fields/README.md
Owners: @docs-team

Delete src/components/molecules/auth-form-footer directory
  src/components/molecules/auth-form-footer/README.md
Owners: @docs-team

Delete src/components/molecules/auth-form-header directory
  src/components/molecules/auth-form-header/README.md
Owners: @docs-team

Delete src/components/molecules/auth-form-footer.tsx
  src/components/molecules/auth-form-footer.tsx
Owners: @ui-team

Delete src/components/molecules/auth-form-header.tsx
  src/components/molecules/auth-form-header.tsx
Owners: @ui-team

Delete src/components/molecules/README.md
  src/components/molecules/README.md
Owners: @docs-team

Delete src/components/molecules/auth-form-state.ts
  src/components/molecules/auth-form-state.ts
Owners: @ui-team

Delete src/components/molecules/auth-form.README.md
  src/components/molecules/auth-form.README.md
Owners: @docs-team

Delete src/components/molecules/auth-social-buttons.tsx
  src/components/molecules/auth-social-buttons.tsx
Owners: @ui-team

Delete src/i18n/components/atoms/grid directory
  src/i18n/components/atoms/grid/da.json
  src/i18n/components/atoms/grid/en.json
  src/i18n/components/atoms/grid/nl.json
  src/i18n/components/atoms/grid/sv.json
Owners: @i18n-team

Delete public/REMINDER-AI-LOVABLE-WORK-ETHIC.md
  public/REMINDER-AI-LOVABLE-WORK-ETHIC.md
Owners: @maintainers

Create AI-RESPONSE-STANDARD.md
  src/AI-RESPONSE-STANDARD.md
Owners: @docs-team

Update package.json
  package.json
Owners: @maintainers

Update package.json
  package.json
Owners: @maintainers

.github/CODEOWNERS:

# Global owners
* @maintainers

# Component-specific owners
/src/components/atoms/ @ui-team
/src/components/molecules/ @ui-team
/src/components/organisms/ @ui-team

# i18n owners
/src/i18n/ @i18n-team

# Configuration owners
/.github/ @devops-team
/.*rc.* @devops-team
/*.config.* @devops-team

# Documentation owners
/*.md @docs-team
/src/**/*.md @docs-team

# Test owners
/src/**/*.test.* @qa-team
/src/test/ @qa-team
